node_modules
client/src/pages/TicketPage copy.js
client/src/comps/CountDown copy.js
client/src/comps/LinearBuffer.js
client/src/comps/Ticket copy 2.js
client/src/comps/Ticket copy.js
client/src/pages/TicketPage copy 2.js
client/src/pages/TicketPage copy 3.js
